[user]
	name = "tfighter"
	email = "tai.nguyen.1220@gmail.com"
[alias]
	addall = "add *"
	ci = "commit"
	co = "checkout"
	lg1 = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"
	lg2 = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
	tree = "!git lg1"   # "log --graph --oneline --all"
	dag = "!git lg2"    # "log --graph --pretty=oneline --abbrev-commit"
	ec = "config --global -e"
	up = "!git pull --rebase --prune $@ && git submodule update --init --recursive"
[push]
	default = simple
[core]
	editor = vim
