-----BEGIN CERTIFICATE-----
MIIDBjCCAe4CCQCnjFcxIM7vhTANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE3MTAyNDA0NTc1MFoXDTIyMTAyMzA0NTc1MFowRTELMAkG
A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AJuVi7AAUdsJpKeUChpra0lCYJr1JPl6CkjW4v7U63BZrIYp8YGhSiplYbiXQRpa
R6OW2DEFMd7/6ftCpK2W1p2jf+6vsmJsxk2OEXqIAFZ6rNBsbu6bMM/ECeyRx9nk
yeAmzdzQbEVwE0poa2/JL5QtexxX/NU0yP9zU9dGurlZYEC4iI17eqKgxZu5A6zI
ux79zHzYKAKTn1U33jftEVu3+pOBUPwEmhPIM2QdZiIIesTSrOe5FFHkRg0XhsCv
1tywChKLgKipejDWXX/jBRlE06PjhNjf3uzOYN5kBahw4+CfSf7e+q4UlBDijWZ3
Dx5X3v7EGVlwI+TfLf2QrBkCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAaDydqGJ3
Gu63n/OT0sKRyxc3s7PnOIKyJ4nDFgse9Mei0pvrpBlPiYBtrPBoJHCIfQBmvJih
NAOHQsG/jQPsZLmdMW11KChoK89Z3fhsbUet4y8SBltoDf2lU2KZt0JPnFi1gLXJ
YeUzlaM+MESps9M+Ov9cts3tXtqIavlydh5MFQFuPIB4pgPg6M8+ooGpHBIeqyZB
o/TuNb85HN+d0rAWVbIkXgy18c/IO5CWQ2UmG7PxlJxozapBM+KCXyq5dIbqmJvL
lx+h3cmaWeojzzbzK0qdNCf63voYGmHuF4ASbl/yIX4wLIlV7tUdnKDYKbd733xR
IWZfE/ObVUMt+w==
-----END CERTIFICATE-----
